/* All styles for your Card Components live here */

div{
 
  display: flex;
  flex-direction: column;
  width:575px;
  height: 100%;
}

#ban{
  flex-direction: row;
}
.fas{

font-size: 100px;
}
img{

  margin: 0 auto;
  width:100%;
  height:auto;
}
#top{
  width:100%;
  margin: 0 auto;
  border: 1px solid grey ;
}